* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    padding-bottom: 100px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line to align the logo and navigation links */
    background-color: #184d47; /* Add this line to set the darker background color */
    padding: 1rem; /* Add or adjust padding as needed */
    z-index: 1000; /* Add this line to ensure the header is above other elements */
  }
  
  nav {
    display: flex;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav li {
    margin-left: 1rem;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  nav a:hover {
    color: #f3f3f3;
  }
  

section {
    padding: 2rem;
}

h1, h2 {
    color: #184d47;
}

#about {
    background-color: #ffffff;
    text-align: center;
}

.center {
    max-width: 800px; /* adjust to desired maximum width */
    margin: 0 auto; /* center the div horizontally */
    padding: 0 20px; /* add left and right padding for the margins */
}

footer {
    background-color: #184d47;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    position: fixed; /* Add this line */
    bottom: 0; /* Add this line */
    left: 0; /* Add this line */
    width: 100%; /* Add this line */
}

footer ul {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

section {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

#main-content {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
  
  .content-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 1200px;
  }
  
  #skills-section,
  #contact-section {
    flex: 1;
    margin: 0 1rem;
  }

  .headshot-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .headshot {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  #resume {
    background-color: #ffffff;
    padding: 2rem 0;
    text-align: center;
  }
  
  .resume-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .resume-container a {
    display: inline-block;
    text-decoration: none;
    background-color: #184d47;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.2s;
  }
  
  .resume-container a:hover {
    background-color: #12633d;
    color: #ffffff;
  }
  
  .resume-container p {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  
footer ul